.border{
  border: 1px solid red;
}

.App {
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
}
h1{
  text-align: center;
  margin-top: 10px;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  width: 320px;
  margin: 10px auto;
  border-radius: 5px;
  outline: 0;
  border: 1px solid green;
  line-height: 36px;
  font-size: 18px;
  padding: 0 10px;
}

.postlist_loading{
  text-align: center;
}
.error_posts{
  color: red;
  font-weight: bold;
}

.link{
  text-decoration: none;
  color: black;
  margin-top: 7px;
  font-size: 22px;
  line-height: 30px;
  border: 1px solid blue;
  background-color: #FAFAD2;
  border-radius: 3px;
  padding: 0 7px;
  transition: all 0.2s ease;
  margin-bottom: 15px;
}
.link:hover{
  color: blue;
}

/*styles for UserInfo*/

.user_wrapper{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.user_title{
  text-align: center;
}
.user_info{
  display: flex;
  justify-content: center;
}
.user_info div:first-child{
  margin-right: 3%;
}
.user_content span{
  font-weight: 600;
}

/*styles for Comments*/

.comments_wrapper h2{
  text-align: center;
}

.comments{
  display: flex;
  flex-direction: column;
  margin: 17px 0;
  background-color: #FFDAB9;
  padding: 0 5px;
  border-radius: 5px;
}


.comments_creator{
  margin: 5px 0;
  font-style: italic;
}
.comments_creator span{
  font-weight: bold;
  font-style: normal;
}

.comments_text{
  margin: 5px 0;
}
.comments_text span{
  font-weight: bold;

}


/*styles for Leave a Comment*/
.leaveComment_wrap{
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.email_wrap{
  display: flex;
  flex-direction: column;
}
.email_error{
  color: red;
}
#comment_email{
  width: 250px;
}
.text_wrap{
  display: flex;
  flex-direction: column;
}
.comment_btn{
  border: 1px solid grey;
  border-radius: 5px;
  outline: 0;
  height: 38px;
  margin-top: 18px;
  cursor: pointer;
  background-color: #fff;
}

/*styles for error*/

.error_msg{
  font-size: 2rem;
  color: red;
  font-weight: 700;
  text-align: center;
  opacity: 0;
 
}

.error_show{
  opacity: 1;
  transition: opacity 1s linear;
}